<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="ElSaberDBEntities" connectionString="metadata=res://*/ElSaberDataModel.csdl|res://*/ElSaberDataModel.ssdl|res://*/ElSaberDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Chris\SQLEXPRESS;initial catalog=ElSaberDB;user id=AdminElSaber;password=123456;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
 <system.serviceModel>
  <bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUsuarioManejador">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IAccesoManejador">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IDireccionManejador">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISocioManejador">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IRestablecimientoCuentaManejador">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:1441/ServicioUsuario"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuarioManejador"
    contract="ElSaberProxy.IUsuarioManejador" name="NetTcpBinding_IUsuarioManejador" />
   <endpoint address="net.tcp://localhost:1441/ServicioCorreo" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IRestablecimientoCuentaManejador"
    contract="ElSaberProxy.IRestablecimientoCuentaManejador" name="NetTcpBinding_IRestablecimientoCuentaManejador" />
   <endpoint address="net.tcp://localhost:1441/ServicioAcceso" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccesoManejador" contract="ElSaberProxy.IAccesoManejador"
    name="NetTcpBinding_IAccesoManejador" />
   <endpoint address="net.tcp://localhost:1441/ServicioDireccion"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDireccionManejador"
    contract="ElSaberProxy.IDireccionManejador" name="NetTcpBinding_IDireccionManejador" />
   <endpoint address="net.tcp://localhost:1441/ServicioSocio" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ISocioManejador" contract="ElSaberProxy.ISocioManejador"
    name="NetTcpBinding_ISocioManejador" />
  </client>
 </system.serviceModel>
</configuration>