<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
			</layout>
		</appender>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="File" />
		</root>
	</log4net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ElSaberServices.Servicios.ElSaberServices">
				<endpoint address="UsuarioServicio" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IUsuarioManejador"/>
				<host>
					<baseAddresses>
						<add baseAddress ="http://localhost:1442"/>
						<add baseAddress ="net.tcp://localhost:1441"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="SecureBinding" portSharingEnabled="false"
						 sendTimeout="00:00:10"
						 receiveTimeout="00:05:00"
						 openTimeout="00:00:05"
						 closeTimeout="00:00:05"
						 maxBufferSize="65536"
						 maxReceivedMessageSize="65536"
						 transferMode="Buffered">
					<security mode="None" >
						<message clientCredentialType="None"/>
						<transport clientCredentialType ="None"/>
					</security>
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
		</bindings>

	</system.serviceModel>
</configuration>