<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="ElSaberDBEntities" connectionString="metadata=res://*/ElSaberDataModel.csdl|res://*/ElSaberDataModel.ssdl|res://*/ElSaberDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Chris\SQLEXPRESS;initial catalog=ElSaberDB;user id=AdminElSaber;password=123456;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
			</layout>
		</appender>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="File" />
		</root>
	</log4net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ElSaberServices.Servicios.ElSaberServices">
				<endpoint address="ServicioUsuario" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IUsuarioManejador" />
				<endpoint address="ServicioCorreo" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IRestablecimientoCuentaManejador" />
				<endpoint address="ServicioAcceso" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IAccesoManejador" />
				<endpoint address="ServicioDireccion" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IDireccionManejador" />
				<endpoint address="ServicioSocio" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.ISocioManejador" />
				<endpoint address="ServicioDevolucion" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IDevolucionManejador" />
				<endpoint address="ServicioLibro" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.ILibroManejador" />
				<endpoint address="ServicioPrestamo" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IPrestamoManejador" />
				<endpoint address="ServicioReporteInventarioLibro" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IReporteInventarioLibroManejador" />
				<endpoint address="ServicioReporteInventarioLibro" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IReporteLibroMasPrestadoManejador" />
				<endpoint address="ServicioMulta" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ElSaberServices.Contratos.IMultaManejador" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:1442" />
						<add baseAddress="net.tcp://localhost:1441" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="SecureBinding" portSharingEnabled="false" sendTimeout="00:00:10" receiveTimeout="00:05:00" openTimeout="00:00:05" closeTimeout="00:00:05" maxBufferSize="10485760" maxReceivedMessageSize="10485760" transferMode="Buffered">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
		</bindings>

	</system.serviceModel>
	<appSettings>
		<add key="Correo" value="bibliotecaelsaber836@gmail.com" />
		<add key="Contrasenia" value="dymj wdrc xjjl cljb" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>